* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    background-color: black;
}

body{
    background-color: black !important;
}

#clock {
    color: white;
    height: 10vh;
    text-align: center;
    font-style: italic;
    font-size: 4rem;
    background-color: black !important;
}





.calculator {
    width: 75%;
    border: yellow 3px solid;
    margin: 5%;
    -webkit-box-shadow: 2px -1px 21px -2px rgba(252, 53, 252, 1);
    -moz-box-shadow: 2px -1px 21px -2px rgba(252, 53, 252, 1);
    box-shadow: 2px -1px 21px -2px rgba(252, 53, 252, 1);
}

.calculator input {
    width: 100%;
    height: 5rem;
    font-weight: 700;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    border: orange 2px solid;


}

.calculator button {
    margin: 3%;
    width: 80%;
    font-weight: 700;
    padding: 2%;

}

.calculator button:hover {
    border: violet 3px solid;
    color: yellow;
    font-style: italic
}


@media(max-width:768px) {
    #clock {
        height: 5vh;
        text-align: center;
        font-style: italic;
        font-size: 2rem;
        padding-bottom: 5%;
    }


    .calculator {
        width: 75%;
        margin:1% 5%;
        margin-top: 5%;



    }

    .calculator input {}

    .calculator button {
        height: 5rem;
        width: 2 rem;
        padding: 10%;
        margin: 10%;


    }

    .calculator button:hover {}
}