*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    background-color: black;
}

.calculator{
    width: 75%;
    border: yellow 3px solid;
    margin: 5%;
}
.calculator input{
    width: 100%;
    height: 5rem;
    font-weight: 700;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    

}

.calculator button{
    margin: 3%;
    width: 80%;
    font-weight: 700;

}

.calculator button:hover{
    border:violet 3px solid;
    color: yellow;
    font-style: italic
  
}